<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickRecord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <QuickRecord.Properties.Settings>
            <setting name="modifierKeys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pressedKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxRecordLength" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="showNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="folderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="recordToMp3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="incrementNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="unTouched" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickRecord.Properties.Settings>
    </userSettings>
</configuration>